doctype html
html
  head
    meta(charset='UTF-8')
    title Okta Account Migrator

    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/styles.css')   

    script(src='https://global.oktacdn.com/okta-signin-widget/7.25.1/js/okta-sign-in.min.js' type='text/javascript' nonce=`${cspNonce}` crossorigin='anonymous')
    link(href='https://global.oktacdn.com/okta-signin-widget/7.25.1/css/okta-sign-in.min.css' type='text/css' rel='stylesheet') 

  body
    header
      a(href='/')
        h1 Okta Account Migrator

    section#sidebar

    main#content
        h2 Sign in 

        if message 
          p.flash !{message}

        #okta-login-container

script(language='javascript' nonce=`${cspNonce}`).
  const url = new URL(window.location.href)

  const oktaSignIn = new OktaSignIn({
      issuer: "!{oktaBaseUrl}",
      redirectUri: "!{oidcRedirectUri}",
      clientId: "!{oidcClientId}",
      otp: url.searchParams.get('otp'),
      state: url.searchParams.get('state'),
      scopes: ["openid", "profile", "okta.users.manage"],
      useInteractionCodeFlow: false,
      useClassicEngine: true,
      logoText: "Okta Account Migrator",
      language: "en",
      colors: {
          brand: '#3273dc'
      },
      authParams: {
          responseType: 'code',
          pkce: false,
      }
  })  

  oktaSignIn.showSignInAndRedirect({el: '#okta-login-container'})

