doctype html
html
  head
    meta(charset='UTF-8')
    title Okta Account Migrator

    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/styles.css')
    
  body
    header
      a(href='/')
        h1 Okta Account Migrator

    section#sidebar
      div.actions
        p
            a(href='/') Introduction
            
        p
            a(href='/migrate') Migrate batch

    main#content
        h2 Migrate batch

        p 
          | Migrate a batch of accounts from the Okta source instance to the Okta target instance by entering the 
          | batch size (default is 100) and clicking "Start".

        p Okta Account Migration is currently configured to move accounts to the Okta instance at 
          i !{target.baseUrl}
          | . The source identity provider is configured as type 
          i !{source.plugin} 
          | and located at 
          i !{source.baseUrl}.
        

        form(
          action='/migrate',
          method='POST',
          hx-post='/migrate',
          hx-target='h2'
          hx-swap='afterend'
        )
          label(for='batchSize') Batch size:
          input#batchSize(type='text', name='batchSize', value='100', required)

          div.actions
            button(type='submit' hx-indicator="#spinner") Start
          
            img#spinner(height='24px', class='htmx-indicator', src='/spinner.gif')

    script(src='https://unpkg.com/htmx.org@2' integrity="sha256-4gndpcgjVHnzFm3vx3UOHbzVpcGAi3eS/C5nM3aPtEc=" crossorigin='anonymous')